.header {
  width: calc(100vw - 100px);
  height: 64px;
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 16px 8px;

  .header__userIcons {
    display: inline-block;
    width: max-content;
    position: absolute;
    right: 0;
    transform: translateX(-100%);

    .userIcon {
      font-size: 1.5rem;
      padding: 4px 6px;
    }
  }
}
