@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.root {
  display: grid;
  grid-template-columns: 100px calc(100vw - 100px);
  grid-template-rows: 64px calc(100vh - 64px);
  font-family: 'Noto Sans JP', sans-serif;
}
