@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.root {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 64px auto;
  font-family: "Noto Sans JP", sans-serif;
}
